.container_12
  %h3
  .grid_3
    .box.maxheight
      =image_tag "box_img1.jpg"
      .title Lorem Ipsum
      Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl auctor vel veliterol.
      %br/
      %a{:href => "#"} More Info
  .grid_3
    .box.maxheight
      =image_tag "box_img2.jpg"
      .title Aliquamh ante
      Benteger convallis orci veli elaoreet, at ornare loremo konsequat. Phasellus era nisl auctor vel veliterut.
      %br/
      %a{:href => "#"} More Info
  .grid_3
    .box.maxheight
      =image_tag "box_img3.jpg"
      .title Ulum volutpat
      Hrtolieger convallis omi tem aore, at ornare loren coate. Pasellus era nisl auctor vel veliterolsed pharetra.
      %br/
      %a{:href => "#"} More Info
  .grid_3
    .box.maxheight
      =image_tag "box_img4.jpg"
      .title Vestibulum volu
      Convallis orci vel mi oreet, at kotornare lorem consequat. Sellus era nisl auctor vel veliterolvenenatis nulla.
      %br/
      %a{:href => "#"} More Info
