%footer
  .container_12
    .grid_6.prefix_3
      %a.f_logo{:href => "#"}
        =image_tag "f_logo.png"
      .copy
        \© 2013 |
        %a{:href => "#"} Privacy Policy
        %br/
        Website   designed by
        %a{:href => "http://www.templatemonster.com/", :rel => "nofollow"} TemplateMonster.com
