%header
  .container_12
    .grid_12
      .socials
        %a{:href => "#"}
        %a{:href => "#"}
        %a{:href => "#"}
        %a.last{:href => "#"}
      %h1
        %a{:href => "index.html"}
          =image_tag "logo.png"
      .menu_block
        %nav#bt-menu.bt-menu
          %a.bt-menu-trigger{:href => "#"}
            %span Menu
          %ul
            %li.current.bt-icon
              %a{:href => "#"} Home
            %li.bt-icon
              %a{:href => "#"} About
            %li.bt-icon
              %a{:href => "#"} Menu
            %li.bt-icon
              %a{:href => "#"} Blog
            %li.bt-icon
              %a{:href => "#"} Reservation
            %li.bt-icon
              %a{:href => "#"} Contacts
        .clear
      .clear
