%h4.center Notifications
%table.table.table-hover
  %thead
    %tr
      %th #
      %th Person
      %th Status
      %th Date
  %tbody
    -notifications.each do |n|
      %tr.orders
        %td{:scope => "row"}= n.content.html_safe
        %td= n.user.person.try(:full_name) || n.user.email
        %td= render partial: 'notifications/status', locals: {notification: n}
        %td= n.created_at.strftime("%d-%m-%Y %H:%M")
