-if current_user.person.has_role? [:manager, :waiter, :cook]
  = render partial: 'index/personal'
-elsif current_user.person.has_role? :boss
  = render partial: 'index/boss'
-else
  = render partial: 'index/client'
