.content
  %a.block1{:href => "#"}
    =image_tag "blur_img1.jpg"
    %span.price
      %span magna non nunc
      %span
        %small $
        29.35
      %strong
  %a.block1{:href => "#"}
    =image_tag "blur_img2.jpg"
    %span.price
      %span terto nomino
      %span
        %small $
        35.45
      %strong
  %a.block1{:href => "#"}
    =image_tag "blur_img3.jpg"
    %span.price
      %span metus feugiat
      %span
        %small $
        50.10
      %strong
  =render partial: 'partials/advert'
