.container
  .row
    .confirmation-page-icon
    .confirmation-page-header
      %h3.center Order successful
    .confirmation-page-info
      %h2.center You will receive confirmation of this order at your inbox.
      %p.center We will prepare your order soon!
      %p.center Have a nice stay!
      %p.center=link_to "Back to Homepage", root_path
