.datetimepicker.dropdown-menu{
  top: 45% !important;
}

.price_link{
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.form-control{
  border-radius: 0.25rem !important;
}

.table{
  width: 95% !important;
}
