.datetimepicker.dropdown-menu{
  top: 54% !important;
  left: 28% !important;
  padding: 15px;
}

.table-condensed{
  th{
    padding: 5px;
  }
  td{
    padding: 5px;
  }
}

.price_link{
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.form-control{
  border-radius: 0.25rem !important;
}

.table{
  width: 95% !important;
}

.modal.fade.in{
  display: block !important;
}

.table td, .table th{
  vertical-align: middle !important;
}

.form-group.row label{
  margin-top: 10px;
}
