.content
  %h1 Listing category
  %table
    %thead
      %tr
        %th Name
        %th Created at
        %th{:colspan => "2"}
    %tbody
      -@ctegories.each do |category|
        %tr
          %td= category.name
          %td= reservation.created_at
          %td= link_to 'Show', category_path(category)
          %td= link_to 'Destroy', category_path(category), method: :delete, data: { confirm: 'Are you sure?' }
